nav.navbar.navbar-expand-lg.navbar-light.bg-light(class=(title=='Wild Chicken University' ? 'invisible' : ''))
  a.navbar-brand(href='/')
    img.d-inline-block.align-top(src='/icon/wcu.svg' width='40' height='40' alt='')
    b.brand.logotext Wild Chicken University
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(class=(title=='Wild Chicken University' ? 'active' : ''))
        a.nav-link(href='/') Home
      li.nav-item(class=(title=='Catalog' ? 'active' : ''))
        a.nav-link(href='/catalog') Class Catalog
    ul.navbar-nav.ml-auto
      if !user
        li.nav-item(class=(title=='Register' ? 'active' : ''))
          a.nav-link(href='/users/register') Register
        li.nav-item(class=(title=='Login' ? 'active' : ''))
          a.nav-link(href='/users/login') Log In
      if user
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.active.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            span.sr-only (current)
            |           Members
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/users/activity') My activities
            .dropdown-divider
            a.dropdown-item(href='/users/points') My Points: #{user.miles}
        li.nav-item
          a.nav-link(href='/users/logout') Log Out
