extends layout

block content
    div.container
      h3.looking List of courses
      br
      ol.s1
        li#s1| University
        li| University???
        li| University???
        li| University???
        li| University???
        li| University???
        li| University???
      a.btn.btn-primary.btn-lg.main-btn(href='/') Back to Home
