extends layout

block content
    div.container
      h3.looking List of courses
      form.hero-form.newsletter-form.field.field-grouped.is-revealing(method='post', action='/catalog')
        .control.control-expanded
          input.input(type='text' name='class' placeholder='Ex: Linear Algebra')
        .control 
          input.button.button-primary.button-block.button-shadow(type='submit', name='submit', value='Get the plan')
      br
      .card
        .card-header
          | Linear Algebra
          .card-body
            h5.card-title Linear Algebra
            p.card-text The branch of mathematics that is concerned with mathematical structures closed under the operations of addition and scalar multiplication and that includes the theory of systems of linear equations, matrices, determinants, vector spaces, and linear transformations.
            a.btn.btn-primary(href='/linearAlgebra') Go to the course
      br
      .card
        .card-header
          | Python
          .card-body
            h5.card-title Introduction to Python
            p.card-text  Python is an easy to learn, general-purpose, and powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming.
            a.btn.btn-primary(href='/python') Go to the course
      br
      .card
        .card-header
          | Microeconomics
          .card-body
            h5.card-title Microeconomics
            p.card-text Microeconomics is a branch of economics that studies the behavior of individuals and firms in making decisions regarding the allocation of scarce resources and the interactions among these individuals and firms.
            a.btn.btn-primary(href='/microeconomics') Go to the course
      br
