extends layout

block content
  div.container
    .row 
      .col-xs-12.col-md-4
        img.main-img(src="/icon/wcu.svg")
      .col-xs-12.col-md-8
        h1.title= title
    br
    h1.looking Looking for a course?
    br
    br
    form
      input.form-control.input-lg.searchbar(type="search" placeholder="Ex: Linear Algebra" aria-label="Search")
      button.btn.btn-outline-success.my-2.my-sm-0.input-lg(type="submit") Search
    br
    br
    br
    br
    br
    h3.looking Alternatively, take a look at our class catalog
    a.btn.btn-primary.btn-lg.main-btn(href='/catalog') Class Catalog
  
