extends layout

block content
  div.container
    .row 
      .col-xs-12.col-md-4
        img.main-img(src="/icon/wcu.svg")
      .col-xs-12.col-md-8
        h1.title= title
    p.lead Welcome to #{title}
    a.btn.btn-primary.btn-lg.main-btn(href='/catalog') Class Catalog
  
