extends layout

block content
  div.square
  div.container
    .row 
      .col-xs-12.col-md-4
        img.main-img(src="/icon/wcu.svg")
      .col-xs-12.col-md-8
        h1.title= title
    p.lead Welcome to #{title}
    form.form-inline
      input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
      button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
    a.btn.btn-primary.btn-lg.main-btn(href='/catalog') Class Catalog
  
