extends layout

block content
  .container.signin-container
  .row
    .col
    .col-sm-12.col-md-8
      .card.signin-card
        .card-block#signin-img
          form#signin-form(method='post', action='/users/login')
            .form-group
              input#usernameInput.form-control(name='username' type='text' required='required' placeholder='用户名')
            .form-group
              input#passwordInput.form-control(name='password' type='password' required='required' placeholder='密码')
            input.btn.btn-primary.main-btn(type='submit', name='submit', value='登录')
            label.form-check-label
              input.form-check-input(type='checkbox')
              |  记住账号
              br
              a(href='/users/help')  需要帮助？
              a(href='/users/forgot')  忘记密码？
      a.create-new-account(href='/users/register') 没有账号？
    .col
