@font-face {
	font-family: alanishand;
	src: url(/fonts/AlanisHand.ttf);
	/*src: url(njnaruto.ttf);*/
}

@font-face {
	font-family: ninjanaruto;
	src: url(/fonts/njnaruto.ttf);
	/*src: url(AlanisHand.ttf);*/
}

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: alanishand;
}

a {
  color: #00B7FF;
}

ol.s1 {
	font-family: alanishand;
}

li.s1 {
	font-family: alanishand;
}

h1.title {
	font-size: 3em;
	font-family: ninjanaruto;
  height: 100%;
  margin: auto;
}

nav.navbar {
  margin: 0;
}
img.main-img {
  width: 60%;
  max-width: 400px;
  margin: auto;
  display: block;
}
